<div class="panel panel-primary">
    <div class="panel-heading ">
       Dropboxes 
       <a class="pull-right"><span class="glyphicon glyphicon-cog"></span> </a>
       <a (click)="toggle()" class="pull-right"><span class="{{ visible ? 'glyphicon glyphicon-minus' : 'glyphicon glyphicon-plus' }}"></span> </a>
    </div>
    <div class="panel-body" [hidden]="!visible">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <tr>
                <th></th>
                <th># of dropboxes</th>
                <th>% of dropboxes</th>
            </tr>
            <tr *ngFor="#wf of Dropboxes">
                <td> {{wf.status}}</td>
                <td> {{wf.dropboxnumber}}</td>
                <td> {{wf.dropboxpercentage |percentage }} </td>
            </tr>
        </table>
    </div>
</div>