<div class="panel panel-primary">
    <div class="panel-heading ">
        TVV Queues<a class="pull-right"><span class="glyphicon glyphicon-cog"></span> </a>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <tr>
                <th></th>
                <th>Column head</th>
                <th>Column head</th>
            </tr>
            <tr>
                <td> Row Name</td>
                <td> Value</td>
                <td> Value</td>
            </tr>
            <tr>
                <td> Row Name 2</td>
                <td> Value</td>
                <td> Value</td>
            </tr>
        </table>
    </div>
</div>